article {
    display: flexbox;
}

.col-1 {
    display: flexbox;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #000000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px;
}

img {
    max-width: 25%;
    max-height: 25%;
    height: auto;
    width: auto;
}

.perfil {
    display: flex;
    justify-content: initial;
    position: relative;
    float: left;

}

.perfil2 {
    display: flex;
    justify-content: end;


}

.button{
    border-radius: 8px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}